mixin navItem(link, text, icon, active)
    a(class=`${active ? 'active' : ''} nav-link`, href=`${link}`, aria-current="page")
        img(src=`/img/icons/icon-${icon}.svg`, class=`icon icon-${icon}`)
        span #{text}