extends base

block append head 
    meta(property="og:url", content=`https://lostandfound.ph/pets`)
    meta(property="og:type", content="website")
    meta(property="og:title", content=`Lost and Found PH | ${title}`)
    meta(property="og:description", content="Help our furry friends find their way home")
    meta(property="og:image", content=`https://lostandfound.ph/img/${fbPreviewImage}`)

block content
    .mw-100.category-cover(style=`background: url('/img/${coverImage}'); border-top-left-radius: 16px;border-top-right-radius: 16px;height:235px;background-size:cover;padding:40px;`)
        .row
            .col-md-6
                a.btn.btn-primary.me-3(href="/report/found")= `Report found ${title.replace('Pets', 'pet')}`
                a.btn.btn-danger(href="/report/lost")= `Report lost ${title.replace('Pets', 'pet')}`
    .hero.py-3(class=`found-items`, style="border-top-left-radius: 0;border-top-right-radius: 0;")
        form.form.form--filter
            .row
                h5.mb-3= `Lost and Found ${title}`
                .col-md-3.mb-3.mb-md-0             
                    select#itemType.form-select
                        option(selected value="found") Found
                        option(value="lost") Lost
                .col-md-3.mb-3.mb-md-0
                    input#locationCityInput.form-control(list="locationCity" placeholder="Type in a city")
                    datalist#locationCity
                        each city in cities
                            option(value=`${city.name}`)
                .col-md-3.mb-3.mb-md-0
                    input#locationProvinceInput.form-control(list="locationProvince" placeholder="Type in a province")
                    datalist#locationProvince
                        each province in provinces
                            option(value=`${province.name}`)
                    input#category.form-control(type="text" value=`${title}` style="display: none;")
                .col-md-3
                    button.btn.btn-outline-light(type="submit") Apply filter
    .items-content.pt-3
        .row
            if (items.length === 0) 
                .d-flex.flex-column.justify-content-center.align-items-center.my-5
                    h3 No #{title} are being reported yet
                    h4 Be the first to report
            else
                each item in items
                    .col-md-3
                        .card(class=`${item.itemType}-items__card`)
                            .card-image(style=`background-image: url('${item.images[0] ? item.images[0] : '/img/items/default-item.jpg'}');`)
                            .card-body
                                a(href=`/item/${item.slug}`, style="text-decoration:none;")
                                    h5.card-title= item.name
                                p.card-text.d-flex.flex-row.align-items-center.mb-1
                                    img.icon.icon-pin(src="/img/icons/icon-pin.svg")
                                    span #{item.city}, #{item.province}
                                p.card-text.d-flex.flex-row.align-items-center.mb-1
                                    img.icon.icon-date(src="/img/icons/icon-date.svg")
                                    span= item.date.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})
            