extends base

block append head 
    meta(property="og:url", content=`https://lostandfound.ph/item/${item.slug}`)
    meta(property="og:type", content="website")
    meta(property="og:title", content=`${title} | Lost and Found PH`)
    meta(property="og:description", content=`${item.description}`)
    meta(property="og:image", content=`https://lostandfound.ph/img/items/${item.images[0]}`)

block content
    .hero(class=`${item.itemType}-items`)
        .row
            .col-md-6
                h5= item.itemType.toUpperCase()
                h3.mb-0= item.name
            .col-md-6.d-flex.justify-content-between.align-items-center.flex-wrap.mt-3.mt-md-0
                if (item.reward)
                    div.me-5.mt-3.mt-md-0
                        p.card-text.d-flex.flex-row.align-items-center.mb-1
                            img.icon.icon-gift-white(src="/img/icons/icon-gift-white.svg")
                            span REWARD
                        p.mb-0(style="margin-left: 32px;")= item.reward.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                            span &nbsp;PHP
                div.me-5.mt-3.mt-md-0
                    p.card-text.d-flex.flex-row.align-items-center.mb-1
                        img.icon.icon-pin-white(src="/img/icons/icon-pin-white.svg")
                        span WHERE
                    p.mb-0(style="margin-left: 32px;") #{item.location}, #{item.city}, #{item.province}
                div.mt-3.mt-md-0
                    p.card-text.d-flex.flex-row.align-items-center.mb-1
                        img.icon.icon-date-white(src="/img/icons/icon-date-white.svg")
                        span WHEN
                    p.mb-0(style="margin-left: 32px;")= item.date.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})
    .items-content
        .row
            .col-md-9
                .row
                    .col-md-7
                        img.mb-3.mw-100(src=`${item.images[0] ? item.images[0] : '/img/items/default-item.jpg'}`)
                    .col-md-5
                        if (item.images[1])
                            img.mb-3.mw-100.item-image(src=`${item.images[1]}`)
                        if (item.images[2])
                            img.mb-3.mw-100.item-image(src=`${item.images[2]}`)
                h5 Category
                p.mb-4= item.category
                h5 Description
                p.mb-4= item.description
                h5 Contact information
                if user
                    .d-flex.justify-content-start.align-items-center.mb-3
                        img.me-3.rounded-circle(src=`${item.user.photo}`, style="width:60px;") 
                        h4.m-0.d-flex.flex-column #{item.user.name}
                            span(style="font-size:14px;") #{item.contactType}: #{item.contact}
                else
                    a.btn.btn-primary(href="/login") Log in to view contact information
                
            .col-md-3
                script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                ins(class="adsbygoogle", style="display:block", data-ad-client="ca-pub-9286752802654749", data-ad-slot="6887532279", data-ad-format="auto", data-full-width-responsive="true")
                script. 
                    (adsbygoogle = window.adsbygoogle || []).push({});