extends base

include _accountNav

block content
    .hero.found-items.py-0
        nav.nav.nav-account           
            +navItem('/account', 'My Account', 'setting-white',)           
            +navItem('/my-items', 'My Items', 'grid-white', true)
    .items-content
        h5.mb-0 My Items
        .row
            .col-md-9
                .row
                    each item in items
                        .col-md-4
                            .card(class=`${item.itemType}-items__card`)
                                .card-image(style=`background-image: url('${item.images[0] ? item.images[0] : '/img/items/default-item.jpg'}');`)
                                .card-body
                                    a(href=`/item/${item.slug}`, style="text-decoration:none;")
                                        h5.card-title= item.name
                                    p.card-text.d-flex.flex-row.align-items-center.mb-1
                                        img.icon.icon-pin(src="/img/icons/icon-pin.svg")
                                        span #{item.city}, #{item.province}
                                    p.card-text.d-flex.flex-row.align-items-center.mb-2
                                        img.icon.icon-date(src="/img/icons/icon-date.svg")
                                        span= `${item.date.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`
                                    button.btn.btn-danger.btn-sm(type="button" style="float: right;" data-bs-toggle="modal" data-bs-target="#deleteModal") Delete item
                                    #deleteModal.modal.fade(tabindex="-1", aria-labelledby="deleteModalLabel", aria-hidden="true")
                                        .modal-dialog
                                            .modal-content
                                                .modal-header
                                                    h3#deleteModalLabel.modal-title Delete item
                                                    button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                                                .modal-body
                                                    p Are you sure you want to delete 
                                                        strong #{item.name}
                                                        span ?
                                                .modal-footer
                                                    button.btn.btn-secondary(type="button", data-bs-dismiss="modal") No
                                                    button#deleteItem.btn.btn-primary(type="button" data-item-id=`${item.id}` data-bs-dismiss="modal") Yes
                    .div-report.my-4
                        h4.mb-4 Report a lost or found item
                        a.btn.btn-primary.me-3(href="/report/found") I found something
                        a.btn.btn-danger.me-3(href="/report/lost") I lost something
            .col-md-3
                script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                ins(class="adsbygoogle", style="display:block", data-ad-client="ca-pub-9286752802654749", data-ad-slot="6887532279", data-ad-format="auto", data-full-width-responsive="true")
                script. 
                    (adsbygoogle = window.adsbygoogle || []).push({});