extends base

block content
    .hero.py-3(class=`${itemType}-items`)
        form.form.form--filter
            .row
                h5.mb-3= `All ${itemType} items`
                .col-md-3.mb-3.mb-md-0             
                    select#category.form-select
                        option(selected disabled hidden value="") Choose a category
                        option Bags
                        option Books
                        option Clothing
                        option Collector Items
                        option Documents
                        option Electronics
                        option Household
                        option Jewellry
                        option Media
                        option Money
                        option Musical Equipment
                        option Personal Accessories
                        option Pets
                        option Sporting Goods
                        option Tools
                        option Toys
                        option Transportation
                        option Wallet
                .col-md-3.mb-3.mb-md-0
                    input#locationCityInput.form-control(list="locationCity" placeholder="Type in a city")
                    datalist#locationCity
                        each city in cities
                            option(value=`${city.name}`)
                .col-md-3.mb-3.mb-md-0
                    input#locationProvinceInput.form-control(list="locationProvince" placeholder="Type in a province")
                    datalist#locationProvince
                        each province in provinces
                            option(value=`${province.name}`)
                    input#itemType.form-control(type="text" value=`${itemType}` style="display: none;")
                .col-md-3
                    button.btn.btn-outline-light(type="submit") Apply filter
    .items-content.pt-3
        .row
            if (itemType === 'lost')
                each item in lostItems
                    .col-md-3
                        .card(class=`${item.itemType}-items__card`)
                            .card-image(style=`background-image: url('${item.images[0] ? item.images[0] : '/img/items/default-item.jpg'}');`)
                            .card-body
                                a(href=`/item/${item.slug}`, style="text-decoration:none;")
                                    h5.card-title= item.name
                                p.card-text.d-flex.flex-row.align-items-center.mb-1
                                    img.icon.icon-pin(src="/img/icons/icon-pin.svg")
                                    span #{item.city}, #{item.province}
                                p.card-text.d-flex.flex-row.align-items-center.mb-1
                                    img.icon.icon-date(src="/img/icons/icon-date.svg")
                                    span= item.date.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})
            else
                each item in foundItems
                    .col-md-3
                        .card(class=`${item.itemType}-items__card`)
                            .card-image(style=`background-image: url('${item.images[0] ? item.images[0] : '/img/items/default-item.jpg'}');`)
                            .card-body
                                a(href=`/item/${item.slug}`, style="text-decoration:none;")
                                    h5.card-title= item.name
                                p.card-text.d-flex.flex-row.align-items-center.mb-1
                                    img.icon.icon-pin(src="/img/icons/icon-pin.svg")
                                    span #{item.city}, #{item.province}
                                p.card-text.d-flex.flex-row.align-items-center.mb-1
                                    img.icon.icon-date(src="/img/icons/icon-date.svg")
                                    span= item.date.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})